.main .rotate h2{
    background-color: #ff8177;
    text-align: center;
    -webkit-text-fill-color: azure;
    
    animation: rotation 3s infinite linear;
    animation-play-state: paused;
}

.main .rotate h2:hover{
    animation-play-state: running;
    
}
@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}