.main .rotate h2{
    background-color: #ff8177;
    text-align: center;
    -webkit-text-fill-color: azure;
    animation: rotation 2s 5 linear;
    
}
@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}